<article id="post-{{post.ID}}" class="post-item">
  {% block content %}
    <div class="row post-item--row">
      <div class="col-sm-4">
        <a href="{{ post.link }}" class="event-thumbnail" style="background-image: url({{ post.thumbnail }})"></a>
      </div>
      <div class="col-sm-8">
        <a href="{{ post.link }}" class="h3 post-header post-header-link">{{post.title}}</a>
        <p class="post-preview">{{ post.preview.length(40).read_more('Zobacz więcej') }}</p>
      </div>
    </div>
  {% endblock %}
</article>
