<article id="post-{{post.ID}}" class="post-item">
  {% block content %}
    {% if homepage %}
      <div class="row post-item--row">
        <div class="col-sm-6 post-home--medium">
          {{ post.get_field('medium') }}
        </div>
        <div class="col-sm-6">
          {{ post.get_field('opis') }}
          <div>
            <a href="{{ post.link }}" class="alignright btn isotope-filter post-home--btn">Zobacz więcej</a>
          </div>
        </div>
      </div>
    {% else %}
      <div class="post-item--row">
        <div class="col-sm-12">
          <a href="{{ post.link }}" class="h3 post-header post-header-link">{{post.title}}</a>
          <p class="post-preview">{{ post.preview.length(40).read_more('Zobacz więcej') }}</p>
        </div>
      </div>
    {% endif %}
  {% endblock %}
</article>
